<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1>Picture一覧</h1>
  </div>
  <div class="row">
  <h3><%= link_to '☆新規投稿☆', new_picture_path %></h3>
  </div>

    <tbody>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="content_list">
          <% @pictures.each do |picture| %>
            <%=  image_tag picture.image.url %>
            <div class="caption">
              <h3><%= picture.user.name %></h3>
              <p><%= picture.content %></p>
              <p>
              <%= link_to 'Show', picture, class: 'btn btn-primary'%>
              <%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-primary' %>
              <%= link_to 'Destroy', picture, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </tbody>
  </div>
</div>
