<p id="notice"><%= notice %></p>
<div class="picture_index">
<h1>Picture一覧</h1>
</div>
<%= link_to '投稿する！', new_picture_path %>
<table>
  <thead>
  <div class="head_name">
    <tr>
      <th></th>
      <th>Content</th>
      <th>Name</th>
    </tr>
  </div>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%=  image_tag picture.image.url %></td>
        <td><%= picture.content %></td>
        <td><%= picture.user.name %></td>
      </tr>
      <tr>
        <td class="index_link">
          <%= link_to 'Show　', picture %>
          <%= link_to 'Edit　', edit_picture_path(picture) %>
          <%= link_to 'Destroy　', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
